<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.airline.a1.board2.Notice2FilesMapper">
		<insert id="notice2FileWrite" parameterType="com.airline.a1.board2.Notice2FilesVO">							 	 		
				insert into board_r_Files values 
				<foreach collection="list" item="item" separator=",">
				(null, #{item.num}, #{item.fname}, #{item.oname})
				</foreach>					 
		</insert>
		
		
		<select id="notice2FileList" parameterType="java.lang.Integer" resultType="com.airline.a1.board2.Notice2FilesVO">
				select * from board_r_Files where num=#{num}
		</select>

		<select id="notice2FileSelect" resultType="com.airline.a1.board2.Notice2FilesVO" parameterType="com.airline.a1.board2.Notice2FilesVO">
				select * from board_r_Files where fnum=#{fnum}
		</select>

		<delete id="notice2FileDelete" parameterType="com.airline.a1.board2.Notice2FilesVO">
				delete from board_r_Files where fnum = #{fnum}
		</delete>
</mapper>
